<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>JustStreamIt</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/65238440ca.js" crossorigin="anonymous"></script>
        <script src="../public/javascripts/testapi.js"></script>
        <link rel='stylesheet' href='../public/stylesheets/style.css' />
    </head>

    <header>
        <div class="header">
            <div class="header_title">
                <h1>JustStreamIt</h1>
            </div>
            <div class="header_home">
                <h2>Accueil</h2>
            </div>
            <div class="header_category">
                <h2>Catégories</h2>
            </div>
        </div>
    </header>

    <body>

        <div>
            <input type="button" value="APPEL API" onclick="buttonClickGet()">
        </div>

        <div class="films_overview gondola_head center">
            <h1>Titre de la vidéo</h1>
            <i class="fas fa-play-circle"></i>
            <p>Description du film</p>
            <img src="" alt="Image de la vidéo">
        </div>

        <div class="films_overview high_rated">
            <h2>Films les mieux notés</h2>
            <div class="card_list">
                <i class="fas fa-arrow-left"></i>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>

        <div class="films_overview category_one">
            <h2>Films de la catégorie : un</h2>
            <div class="card_list">
                <i class="fas fa-arrow-left"></i>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>

        <div class="films_overview category_two">
            <h2>Films de la catégorie : deux</h2>
            <div class="card_list">
                <i class="fas fa-arrow-left"></i>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>

        <div class="films_overview category_three">
            <h2>Films de la catégorie : trois</h2>
            <div class="card_list">
                <i class="fas fa-arrow-left"></i>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <div class="film_card">
                    <img src="" alt="Image du film">
                </div>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>

        <div class="film_details">
            <img src="" alt="Image du film">
            <ul>
                <li><h1>Titre du film</h1></li>
                <li><h2>Genre complet du film</h2></li>
                <li><h2>Date de sortie</h2></li>
                <li><h2>Rated</h2></li>
                <li><h2>Score IMDB</h2></li>
                <li><h2>Réalisateur</h2></li>
                <li><h2>Liste des acteurs</h2></li>
                <li><h2>Durée</h2></li>
                <li><h2>Pays d'origine</h2></li>
                <li><h2>Résultat au Box Office</h2></li>
                <li><p>Résumé du film</p></li>
            </ul>
        </div>

    </body>

    <footer>
        <p>BAS DE PAGE</p>
    </footer>


</html>