<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>JustStreamIt</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/65238440ca.js" crossorigin="anonymous"></script>
        <script src="../public/javascripts/testapi.js"></script>
        <link rel='stylesheet' href='../public/stylesheets/style.css' />
    </head>

    <header>
        <div class="header">
            <div class="header_title">
                <h1>JustStreamIt</h1>
            </div>
            <div class="header_home">
                <h2>Accueil</h2>
            </div>
            <div class="header_category">
                <h2>Catégories</h2>
            </div>
        </div>
    </header>

    <body>

        <div class="films_overview gondola_head center" id="gondola_head">
            <div class="film_card">
            </div>
        </div>

        <div class="films_overview" id="high_rated">
            <h2>Films les mieux notés</h2>
            <div class="card_list">
            </div>
        </div>

        <div class="films_overview" id="category_1">
            <h2>Films de la catégorie : Action</h2>
            <div class="card_list">
            </div>
        </div>

        <div class="films_overview" id="category_2">
            <h2>Films de la catégorie : Comedie</h2>
            <div class="card_list">
            </div>
        </div>

        <div class="films_overview" id="category_3">
            <h2>Films de la catégorie : Aventure</h2>
            <div class="card_list">
            </div>
        </div>
        
        <div class="modal" id="modal">
            <div class="modal-header">
                <div class="title">Titre du modal</div>
                <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="film_details">
            </div>
        </div>
        <div id="overlay"></div>

    </body>

    <footer>
    </footer>


</html>