:root {
    --primary-color: #fff;
    --secondary-color: #0c0c0c;
    --card-color: pink;
    --inside-text-color: #fff;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

h1 {
    color : var(--primary-color);
    font-size:x-large
}

h2 {
    color : var(--primary-color);
    font-size: small;
}

p {
    color : var(--primary-color);
}

.header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter : drop-shadow(0 0 0.75rem rgba(255, 202, 212, 0.377));
}

.header img {
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
}

.films_overview {
    background-color:var(--secondary-color);
    text-align: center;
    margin: 60px 0 0 0;
}

.films_overview h1 {
    margin: 0px 0 12px 0;
}

.film_card {
    cursor: pointer;
}

#gondola_head{
    background-color: var(--secondary-color);
    width: auto;
    height: 450px;
    color: var(--primary-color);
    display: block;
    margin: 50px 0 0 0;
}

#gondola_head .film_card {
    width: 100%;
    height: 80%;
    padding: 50px 0 0 0;    
}

#gondola_head .film_card h1 {
    width: 30%;
    margin: 0 50% 40px 50%;
}

#gondola_head .fas {
    text-align: center;
    color: red;
    margin: 20px 100px 0 0;
    font-size: 400%;
}

#gondola_head p {
    width: 30%;
    margin: -18px 50% 0 50%;
}

.card_list {
    display: block;
    justify-content: space-between;
}

.films_overview .film_card {
    text-align: center;
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

#idFilm {
    position: absolute;
    margin: -50px 0 0 0;
    z-index: -10;
}

.fas {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 400%;
    height: 25%;
}

.fa-arrow-circle-left {
    color: rgb(165, 83, 83)
}

.title {
    width: 100%;
    text-align: center;
}

.popUp {
    text-align : center;
}

.popUp img {
    padding: 10px 10px 10px 10px;
    width: 60%;
    margin: 0 0 10px 0;
}

.popUp p {
    text-align: justify;
    margin: 0px 20px 8px 20px
}

/* A VOIR SI UTILE ? */
.center {
    margin: 0px auto 0px auto ;
    }

/* A NE PAS MODIFIER! */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    z-index: 10;
    background-color: var(--secondary-color);
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color : var(--primary-color)
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color : var(--primary-color)
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.next_page, .previous_page {
    display: none;
    
}
